.body {
    color: #000000;
    background: #ffffff;
    font: 100% system-ui;
} 

button{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    padding: 0 12px;
    line-height: 20px;
    height: 30px;
    max-height: 30px;
    background: #566AE5;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    color: #FFFFFF;
}

.reset{
    color: #FFFFFF;
}

hr{
    /* Line divider */
    background-color: #566AE5;
    border: transparent;
    margin-left: -8px;
    margin-right: -8px;
    height: 10px;
}

.middle{
    text-align: center;
    font-family: 'Lucida Sans';
    font-style: oblique;
    font-size: xx-large;
    color: #566AE5;
}

.middle2{
    text-align: center;
    font-family: 'Lucida Sans';
    font-size: large;
    color: #000000;
}
img {
    /* Prevents image from stretching upon window resize */
    width: 50%;
    height: 50%; 
    object-fit: contain;
}

div{
    text-align: center;
    overflow: hidden;
}

.mainDiv{
    /* Main div for upper portion of site */
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;   
    text-align: center;
    color: rgb(94, 94, 94);
    font-family: 'Trebuchet MS';
    border-radius: 5px;
}

.calculate {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    padding: 0 6px;
    line-height: 20px;
    height: 20px;
    max-height: 30px;
    background: #566AE5;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    color: #FFFFFF;
}


@media (max-width: 370px){
    button{
        margin: 12px;
    }
}