/* #566AE5; discord color? */

.body {
    color: #000000;
    font: 100% system-ui;
    background-color: rgb(0, 0, 0);
    background-image: url("https://wallpapercave.com/wp/wp5034271.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 610px;
    background-position: center;
} 

button{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    padding: 0 12px;
    line-height: 20px;
    height: 30px;
    max-height: 30px;
    background: rgb(206, 206, 206);
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    color: #161616;
    margin: 3px;
}

.reset{
    color: #FFFFFF;
}

hr{
    /* Line divider */
    background-color: rgb(206, 206, 206);
    border: transparent;
    height: 0px;
}

.middle{
    text-align: center;
    font-family: 'Lucida Sans';
    font-style: oblique;
    font-size: xx-large;
    color: rgb(206, 206, 206);
    
}

.reset {
    background-color: rgb(48, 48, 48);
    color: rgb(255, 255, 255);
}

.middle2{
    text-align: center;
    font-family: 'Lucida Sans';
    font-size: large;
    color: #000000;
}
img {
    /* Prevents image from stretching upon window resize */
    width: 30%;
    height: 30%; 
    object-fit: contain;
}

div {
    text-align: center;
    overflow: hidden;
}

.titleDiv { 
    font-size: 30px;
    font-family: monospace;
    color:#ffffff;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: rgba(184, 0, 0, 0.583);
}

.mainDiv {
    /* Main div for upper portion of site */
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;   
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: larger;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.583);
    font-family: 'Trebuchet MS';
    border-radius: 5px;
}

.calculate {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    padding: 0 6px;
    line-height: 20px;
    height: 20px;
    max-height: 30px;
    background: rgb(206, 206, 206);
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    color: #292929;
}


h{
    font-style: bold;
    color: rgb(245, 245, 245);
    font-family: 'Trebuchet MS';
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.583);
}

.estimation {
    color: rgb(255, 0, 0);
}

input[type=number]{
    border: 2.0px solid brown;
    border-radius: 4px;
}

@media (max-width: 370px){
    button{
        margin: 12px;
    }
}


