.body {
    color: #000000;
    background: #ffffff;
    font: 100% system-ui;
} 

button{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    padding: 0 12px;
    line-height: 20px;
    height: 30px;
    max-height: 30px;
    background: #566AE5;
    font-weight: 700;
    border: 0;
    border-radius: 0;
    color: #FFFFFF;
}

.reset{
    color: #FFFFFF;
}

hr{
    /* Line divider */
    border: 2px solid #566AE5;
}

.middle{
    text-align: center;
    font: 200% system-ui;
    color: #566AE5;
    -webkit-text-stroke: 0.5px black;
}

img {
    /* Prevents image from stretching upon window resize */
    width: 50%;
    height: 50%; 
    object-fit: contain;
}

div{
    text-align: center;
    overflow: hidden;
  
}

.mainDiv{
    /* Main div for upper portion of site */
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;   
    text-align: center;
    color: rgb(94, 94, 94);
    font-family: 'Trebuchet MS';
    border-radius: 5px;
}

@media (max-width: 300px){
    button{
        margin: 10px;
    }
}